.container
    .row
        .col-sm-4
            section
                .row
                    h4.glyphicon.glyphicon-home  Easy to use!
                    p Just point and click. From anywhere at anytime.
                .row
                    h4.glyphicon.glyphicon-tower  Reliable and Secure
                    p Know your home is safe at anytime.
        .col-md-8
            img.img-responsive(src="img/Livingroomautomation.jpg")