.container
    .row
        .col-md-8
            h4 Current Temperature
                .progress
                    .progress-bar.progress-bar-success#temperature(role="progressbar",
                    aria-valuenow="60", aria-valuemin="50", aria-valuemax="100")
        .col-md-4
            h4 Change Temperature
            button.btn-danger.btn-lg(onclick="temperatureUp()")
                span.glyphicon.glyphicon-circle-arrow-up
            button.btn-info.btn-lg(onclick="temperatureDown()")
                span.glyphicon.glyphicon-circle-arrow-down

script(type="text/javascript", src="js/temperature.js")
